{% extends 'app/base.html' %}
{% load static %}
{% block title %}Change Password{% endblock title %}
{% block main-content %}

<div class="col-sm-9 offset-sm-1 text-center">
    <h3>Password Changed Successfully</h3>
    
    <iframe 
        src="https://giphy.com/embed/ibolLe3mOqHE3PQTtk" 
        width="200" 
        height="200" 
        frameborder="0"
        class="giphy-embed" 
        allowfullscreen>
    </iframe>

    <div class="mt-4">
        <a href="{% url 'login' %}" class="btn btn-primary">Go to Login</a>
    </div>

    {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            <p class="alert alert-danger my-3">{{error}}</p>
        {% endfor %}
    {% endif %}
</div>
{% endblock main-content %}
